<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>選擇進入班級</h3>
    <ul>
      <li>
        <a href="/class/管二乙">管二乙</a>
      </li>
      <li>
        <a href="/class/管二甲">管二甲</a>
      </li>
    </ul>
  </body>
</html>
