<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= username %>歡迎來到工程經濟網</h1>
    <form action="/logout" method="POST">
      <% if (testTimes === 0 ) { %>
      <a href="/ex1">進入第一次作業</a>
      <a href="/ex2">進入第二次作業</a>
      <% } else if (testTimes ===1){ %>
      <p>你的第一次作業已繳交</p>
      <a href="/ex2">進入第二次作業</a>
      <% } else{ %>
      <p>你的第一次作業已繳交</p>
      <p>你的第二次作業已繳交</p>
      <%}%> <%if (user.role == "teacher"){ %>
      <a href="/allStudent">查看學生資料</a>
      <%} else{%>
      <a href="/info">查看個人檔案</a>
      <%}%>

      <a href="/logout">登出</a>
    </form>
  </body>
</html>
