<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= username %>歡迎來到工程經濟網</h1>
    <form action="/logout" method="POST">
      <a href="/ex">進入測驗</a>
      <a href="/info">查看個人檔案</a>
      <a href="/logout">登出</a>
    </form>
  </body>
</html>
